# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dir
node_modules
dist
dist-ssr
demo
keys

# config file
.env*
.env
yarn.lock
message.db
messageCards.db
friendList.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.db
*.local
