* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
}

html {
    --text-color: #3d3d3d; /* 软件字体颜色 */
    --peripheral-menu-background-color: #ffffff;
    --container-title-background-color: #f6f6f6;
    --view-background-color: rgba(64, 115, 255, 0.06);
    --container-show: 3px 3px 2px rgba(57, 96, 164, 0.38);
    --container-inset-show: 2px 2px 2px rgba(57, 96, 164, 0.38) inset;
    --container-background-color: #ffffff;
    --input-box-background-color: #f6f6f6;
    --user-list-element-background-color: #f6f6f6;
    --not-me-message-background-color: #f6f6f6;
    --not-me-message-text-color: #3d3d3d;
    --is-me-message-background-color: #2c87f4;
    --is-me-message-text-color: #ffffff;
    --cue--line-color: #2c87f4;
    --all-transition: all cubic-bezier(0.04, 0.22, 0.41, 1.54) 0.2s;
}

body {
    height: 100vh;
    background-color: #ffffff;
    color: var(--text-color);
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

*:hover::-webkit-scrollbar-thumb {
    background-color: var(--cue--line-color);
}

*::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

.view-element-container {
    border-radius: 10px;
    /* box-shadow: var(--container-show), -3px -3px 4px rgba(57, 96, 164, 0.09) inset; */
    box-shadow: var(--container-show);
    background-color: var(--container-background-color);
}

.view-element-container .container-title {
    border-radius: 10px 0 10px 0;
    background-color: var(--container-title-background-color);
}

.cue-line-color {
    background-color: var(--cue--line-color);
}
