* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
}

/* *:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
} */

html {
    --text-color: #3d3d3d; /* 软件字体颜色 */
    --peripheral-menu-background-color: #ffffff;
    --page-background-color: rgba(64, 115, 255, 0.06);
    --box-show: 3px 3px rgba(57, 96, 164, 0.38);
    --box-inset-show: 2px 2px 2px rgba(57, 96, 164, 0.38) inset;
    --box-background-color: #ffffff;
    --input-box-background-color: #f6f6f6;
    --user-list-element-background-color: #f6f6f6;
    --not-me-message-background-color: #f6f6f6;
    --not-me-message-text-color: #3d3d3d;
    --is-me-message-background-color: #2c87f4;
    --is-me-message-text-color: #ffffff;
    --operable-box-prompt-color: #226285;
    --cue--line-color: #2c87f4;
}

body {
    height: 100vh;
    background-color: #ffffff;
    color: var(--text-color);
}

li {
    list-style: none;
}
