* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

*:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;

}

html {
    --theme-color-one: #226285; /* 主题色一 */
    --theme-color-two: #282c34; /* 主题色二 */
    --theme-color-three: #e3e7f1; /* 主题色三 */
    --theme-color-four: #282c34; /* 主题色四 */
    --text-color: #2c2c2c; /* 软件字体颜色 */
    --card-background-color: #fbfbfb; /* 卡片背景颜色 */
    /*--background-color: #f5f4fd; !* 软件背景颜色 *!*/
    --background-color: #ebe9e7;
    --border-color: #282e34; /* 边框颜色 */
    --chat-win-border-color: #8d9db0;
    --message-card-color: #a3aab7; /* 消息卡片字体颜色 */
}

body {
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

li {
    list-style: none;
}


