@font-face {
    font-family: "iconfont"; /* Project id 2917191 */
    src: url("iconfont.woff2?t=1652782830816") format("woff2"), url("iconfont.woff?t=1652782830816") format("woff"), url("iconfont.ttf?t=1652782830816") format("truetype");
}

.window-icon {
    font-family: "iconfont" !important;
    font-size: 11px;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e603";
    color: #fff;
}

.icon-message:before {
    content: "\e8bd";
}

.icon-search:before {
    content: "\e6a5";
}

.icon-contacts:before {
    content: "\e613";
}

.icon-send:before {
    content: "\e607";
}

.icon-config:before {
    content: "\e61f";
}

.icon-icontianjiatupian:before {
    content: "\e621";
}

.window-close:before {
    content: "\e64d";
}

.window-unmaximize:before {
    content: "\e600";
}

.window-maximize:before {
    content: "\e64c";
}

.window-minimize:before {
    content: "\e650";
}

.window-maximize:hover,
.window-unmaximize:hover,
.window-minimize:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.window-close:hover {
    background-color: #d51325;
    color: #fff;
}
