@font-face {
  font-family: "iconfont"; /* Project id 2917191 */
  src: url('iconfont.woff2?t=1652782830816') format('woff2'),
       url('iconfont.woff?t=1652782830816') format('woff'),
       url('iconfont.ttf?t=1652782830816') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e6a5";
}

.icon-home:before {
  content: "\e603";
  color: #fff;
}

.icon-xiaoxi:before {
  content: "\e8bd";
}

.icon-lianxiren:before {
  content: "\e613";
}

.icon-shezhi:before {
  content: "\e61f";
}

.icon-icontianjiatupian:before {
  content: "\e621";
}

.icon-guanbi1:before {
  content: "\e723";
}

.icon-zuidahua:before {
  content: "\e600";
  font-size: 12px;

}

.icon-zuidahuaxi:before {
  content: "\e64c";
  font-size: 12px;
}

.icon-zuixiaohua:before {
  content: "\e650";
}

.icon-zuidahua:hover,
.icon-zuidahuaxi:hover,
.icon-zuixiaohua:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.icon-guanbi1:hover {
  background-color: #d51325;
  color: #fff;
}

